a {
  text-decoration: none;
  color: #333f48;
}
.header {
  .header-container {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 200;
    background-color: #fff;

    .header-logo {
      min-width: 105px;
      align-items: center;
      margin-left: 6rem;
      img {
        height: 38px;
        width: 100%;
      }
    }
    .header-menu {
      flex-grow: 1;
      margin-left: 3rem;

      ul {
        display: flex;
        gap: 55px;
        align-items: center;
        list-style-type: none;
        li {
          position: relative;
          align-items: center;
          justify-content: center;
          .nav-link.active::before {
            content: "";
            position: absolute;
            background-color: red;
            width: 45px;
            height: 5px;
            border-radius: 5px;
            top: 30px;
            left: -6px;
          }

          span {
            font-weight: 700;
          }
        }
      }
    }
    .header-search {
      // margin-right: 2rem;
      .search-input-group {
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 120px;
        width: 16.47vw;
        .search-btn {
          position: absolute;
          left: 0px;
          top: 5px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
        .search-input {
          height: 2.5rem;
          background-color: #fff;
          border: 1px solid #edf1f5;
          border-radius: 40px;
          width: 100%;
          padding: 8px 8px 8px 56px;
          line-height: 2.2rem;
        }
      }
    }
    .header-group-icon {
      margin-right: 10rem;
      padding-top: 20px;
      justify-content: space-between;
      gap: 40px;
      display: flex;
      .group-icon {
        position: relative;

        img {
          position: absolute;
          bottom: 20px;
          left: 18px;
        }
      }
    }
  }
  .sub-menu {
    visibility: hidden;
    display: flex;
    position: absolute;
    background-color: #fff;
    height: 50%;
    width: 100vw;
    z-index: 10;
    top: 6.75rem;
    justify-content: center;
    border-top: 1px solid #e6e7e8;
  }
}
