.multimenu-container {
  display: flex;

  color: #333f48;
  .label {
    font-weight: 700;
  }
  .content {
    padding-top: 1rem;

    .menu-item-content {
      padding-top: 0.8rem;
      a:hover {
        color: red;
      }
    }
  }
  .left-multimenu {
    padding-top: 2rem;
    border-right: 1px solid #e6e7e8;
    width: 25vw;
    text-align: center;
  }
  .right-multimenu {
    padding-top: 2rem;
    border-left: 1px solid #e6e7e8;
    width: 25vw;
    text-align: center;
  }
}
